[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jointDiag"]
	path = jointDiag
	url = https://github.com/gouypailler/jointdiag
